flow.json
[{"id":"9f69ba3f.7fb9a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"493afa50.af2464","type":"ui_gauge","z":"9f69ba3f.7fb9a8","name":"","group":"5712d00c.b951f","order":0,"width":0,"height":0,"gtype":"gage","title":"Porcentaje de desperdicios","label":"%","format":"{{msg.payload}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":200,"wires":[]},{"id":"2e905406.a0b81c","type":"ui_template","z":"9f69ba3f.7fb9a8","group":"b0bc6723.ab0c58","name":"","order":0,"width":"30","height":"2","format":"<div style=\"text-align:center; padding-bottom:2em:\">\n    <h1>\n        Panel de Simulacion\n    </h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":100,"wires":[[]]},{"id":"b06339af.e2e538","type":"ui_dropdown","z":"9f69ba3f.7fb9a8","name":"","label":"Volver al restaurante","tooltip":"","place":"Elegir","group":"4d07a318.24c18c","order":18,"width":"8","height":"1","passthru":true,"multiple":false,"options":[{"label":"Camioneta mas cercana","value":1,"type":"num"},{"label":"Camioneta mas próxima a liberarse","value":2,"type":"num"}],"payload":"","topic":"change-volver-al-restaurante","x":960,"y":280,"wires":[["e375dc34.b625d"]]},{"id":"8139fa40.147788","type":"ui_date_picker","z":"9f69ba3f.7fb9a8","name":"","label":"Fin","group":"4d07a318.24c18c","order":5,"width":"8","height":"1","passthru":true,"topic":"change-fin","x":910,"y":240,"wires":[["e375dc34.b625d"]]},{"id":"c5175fe8.d5f28","type":"ui_text_input","z":"9f69ba3f.7fb9a8","name":"","label":"Pedidos por hora","tooltip":"","group":"4d07a318.24c18c","order":16,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-pedidos-x-hora","x":950,"y":320,"wires":[["e375dc34.b625d"]]},{"id":"79ce8c7c.464884","type":"ui_text_input","z":"9f69ba3f.7fb9a8","name":"","label":"Hornos por camioneta","tooltip":"","group":"4d07a318.24c18c","order":2,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-hornos-x-camioneta","x":960,"y":360,"wires":[["e375dc34.b625d"]]},{"id":"9e06b6b.69eca48","type":"ui_text_input","z":"9f69ba3f.7fb9a8","name":"","label":"Pizzas por horno","tooltip":"","group":"4d07a318.24c18c","order":10,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-pizzas-x-horno","x":950,"y":400,"wires":[["e375dc34.b625d"]]},{"id":"43285a0b.de7a44","type":"ui_text_input","z":"9f69ba3f.7fb9a8","name":"Cantidad de camionetas","label":"Cantidad de camionetas","tooltip":"","group":"4d07a318.24c18c","order":3,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-cantidad-camionetas","x":970,"y":440,"wires":[["e375dc34.b625d"]]},{"id":"5c3a1268.96978c","type":"ui_switch","z":"9f69ba3f.7fb9a8","name":"anana","label":"Ananá","tooltip":"","group":"4d07a318.24c18c","order":8,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-anana","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":520,"wires":[["e375dc34.b625d"]]},{"id":"5f964081.a878a","type":"ui_switch","z":"9f69ba3f.7fb9a8","name":"","label":"Calabresa","tooltip":"","group":"4d07a318.24c18c","order":12,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-calabresa","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":720,"wires":[["e375dc34.b625d"]]},{"id":"ad6d7d5d.d4ef7","type":"ui_switch","z":"9f69ba3f.7fb9a8","name":"","label":"Napolitana","tooltip":"","group":"4d07a318.24c18c","order":11,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-napolitana","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":560,"wires":[["e375dc34.b625d"]]},{"id":"a8d2a0b4.aaf5d","type":"ui_switch","z":"9f69ba3f.7fb9a8","name":"","label":"Fugazzeta","tooltip":"","group":"4d07a318.24c18c","order":4,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-fugazzeta","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":600,"wires":[["e375dc34.b625d"]]},{"id":"23e3c64d.944eda","type":"ui_switch","z":"9f69ba3f.7fb9a8","name":"","label":"Mozzarella","tooltip":"","group":"4d07a318.24c18c","order":17,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-mozzarella","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":640,"wires":[["e375dc34.b625d"]]},{"id":"fca53cef.2b99c","type":"ui_template","z":"9f69ba3f.7fb9a8","group":"4d07a318.24c18c","name":"","order":14,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"margin-top:0.25em;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":680,"wires":[[]]},{"id":"1bba7b8a.de22e4","type":"ui_table","z":"9f69ba3f.7fb9a8","group":"999370c8.b800f","name":"","order":0,"width":"32","height":"5","columns":[{"field":"corrida","title":"Corrida","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"esperaClientes","title":"Espera promedio del cliente","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"clientesHora","title":"Clientes atendidos por hora","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"pizzasDia","title":"Pizzas entregadas por dia","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"desperdicios","title":"Porcentaje de desperdicios","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distanciasRecorridas","title":"Distancia recorrida","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"recargaCamionetas","title":"Tiempo entre recargas","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":430,"y":840,"wires":[]},{"id":"44233147.33e82","type":"ui_chart","z":"9f69ba3f.7fb9a8","name":"","group":"3754d5c8.49840a","order":1,"width":0,"height":0,"label":"Espera del cliente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":120,"wires":[[]]},{"id":"a7aecac.bc98838","type":"function","z":"9f69ba3f.7fb9a8","name":"","func":"/*\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i <= arrayLength; i++) {\n    var m = {};\n    m.labels = [msg.payload[i].Machine];\n    m.data = [[(msg.payload[i].TotalTime/60).toFixed(2)]];\n    m.series = [\"Total Time in 8 hours by Machine\"];\n    return {payload:[m],topic:msg.topic};\n}\n\n\nlet m = {};\n\nm.labels = [\n    \"Ananá\",\n    \"Calabresa\",\n    \"Fugazzeta\",\n    \"Mozzarella\",\n    \"Napolitana\"\n];\nm.data = [[\n    10,\n    10,\n    10,\n    30,\n    50\n]];\n\nm.series = [\"Tipos de pizza \"];\nmsg.payload = m;\nreturn msg;\n\nconst opcion = Math.round(Math.random()*100);\nif (opcion < 5){\n    msg.topic = \"Anana\";\n    msg.payload = 10;\n    return msg;\n} else if (opcion < 20) {\n    msg.topic = \"Calabresa\";\n    msg.payload = 20;\n    return msg;\n} else if (opcion < 55) {\n    msg.topic = \"Mozzarella\";\n    msg.payload = 30;\n    return msg;\n} else if (opcion < 75) {\n    msg.topic = \"Fugazzeta\";\n    msg.payload = 20;\n    return msg;\n} else {\n    msg.topic = \"Napolitana\";\n    msg.payload = 20;\n    return msg;\n}\n*/\n\nlet tiposDePizza = JSON.parse(msg.payload)\n\n\nmsg.payload = tiposDePizza\n\nreturn msg\n","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["55d66115.d0d2f"]]},{"id":"96835bb2.1ebf88","type":"ui_chart","z":"9f69ba3f.7fb9a8","name":"","group":"ded796e0.41f168","order":0,"width":0,"height":0,"label":"Ventas por tipo de pizza","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":740,"wires":[[]]},{"id":"867bea35.7daaf8","type":"ui_text","z":"9f69ba3f.7fb9a8","group":"760343df.4f5bec","order":0,"width":0,"height":0,"name":"","label":"Pedidos rechazados:","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":340,"wires":[]},{"id":"735ec0c7.d9937","type":"ui_template","z":"9f69ba3f.7fb9a8","group":"2427399c.23f556","name":"Footer","order":13,"width":0,"height":0,"format":"<div style=\"paddin-bottom:0.25em;\">\n    <p>Allende Lucila</p>\n    <p>Alzugaray Luciano</p>\n    <p>Ducid Matias</p>\n    <p>Krmpotic Lucas</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":860,"wires":[[]]},{"id":"75abbd01.a82f34","type":"ui_text","z":"9f69ba3f.7fb9a8","group":"760343df.4f5bec","order":0,"width":0,"height":0,"name":"","label":"Distancia Recorrida:","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":420,"wires":[]},{"id":"873eb504.105888","type":"ui_text","z":"9f69ba3f.7fb9a8","group":"760343df.4f5bec","order":0,"width":0,"height":0,"name":"","label":"Tiempo entre recargas:","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":500,"wires":[]},{"id":"4664db6a.9cef24","type":"ui_text","z":"9f69ba3f.7fb9a8","group":"760343df.4f5bec","order":0,"width":0,"height":0,"name":"","label":"Pedidos sin tipo en camioneta:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":600,"wires":[]},{"id":"10e401a4.6b3ade","type":"mqtt out","z":"9f69ba3f.7fb9a8","name":"iniciar_simulacion","topic":"control","qos":"","retain":"","broker":"42ce5d71.3a5094","x":1430,"y":340,"wires":[]},{"id":"eacdb778.afc028","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"espera-de-cliente","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":140,"y":120,"wires":[["44233147.33e82"]]},{"id":"9189f6.6ff27608","type":"ui_date_picker","z":"9f69ba3f.7fb9a8","name":"","label":"Inicio","group":"4d07a318.24c18c","order":1,"width":"8","height":"1","passthru":true,"topic":"change-inicio","x":910,"y":200,"wires":[["e375dc34.b625d"]]},{"id":"a2cb9691.8ceec8","type":"debug","z":"9f69ba3f.7fb9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":380,"wires":[]},{"id":"5bf2fbf3.f57824","type":"ui_button","z":"9f69ba3f.7fb9a8","name":"","group":"4d07a318.24c18c","order":15,"width":0,"height":0,"passthru":false,"label":"INICIAR SIMULACION","tooltip":"","color":"","bgcolor":"","icon":"","payload":"iniciar","payloadType":"str","topic":"action","x":960,"y":480,"wires":[["e375dc34.b625d"]]},{"id":"e375dc34.b625d","type":"function","z":"9f69ba3f.7fb9a8","name":"","func":"let payload = context.get(\"inputs-data\")\nif (!payload){\n    payload = {\n        inicio: null,\n        fin: null,\n        volverAlRestaurante: null,\n        pedidosPorHora: null,\n        hornosPorCamioneta: null,\n        pizzasPorHorno: null,\n        cantidadCamionetas: null,\n        anana: null,\n        napolitana: null,\n        fugazzeta: null,\n        mozzarella: null,\n        calabresa: null,\n        cantidadExperimentos: null\n    }\n}\n\n    \nif (msg.topic === 'action'){\n    msg.payload = payload;\n    return msg;\n} else if (msg.topic === 'change-inicio') {\n    payload.inicio = msg.payload;\n} else if (msg.topic === 'change-fin') {\n    payload.fin = msg.payload;\n} else if (msg.topic === 'change-volver-al-restaurante') {\n    payload.volverAlRestaurante = msg.payload;\n} else if (msg.topic === 'change-pedidos-x-hora') {\n    payload.pedidosPorHora = msg.payload;\n} else if (msg.topic === 'change-hornos-x-camioneta') {\n    payload.hornosPorCamioneta = msg.payload;\n} else if (msg.topic === 'change-pizzas-x-horno') {\n    payload.pizzasPorHorno = msg.payload;\n} else if (msg.topic === 'change-cantidad-camionetas') {\n    payload.cantidadCamionetas = msg.payload;\n} else if (msg.topic === 'change-anana') {\n    payload.anana = msg.payload;\n} else if (msg.topic === 'change-napolitana') {\n    payload.napolitana = msg.payload;\n} else if (msg.topic === 'change-fugazzeta') {\n    payload.fugazzeta = msg.payload;\n} else if (msg.topic === 'change-mozzarella') {\n    payload.mozzarella = msg.payload;\n} else if (msg.topic === 'change-calabresa') {\n    payload.calabresa = msg.payload;\n} else if (msg.topic === 'experimentos') {\n    payload.cantidadExperimentos = msg.payload;\n}\n\ncontext.set(\"inputs-data\", payload)\n    ","outputs":1,"noerr":0,"x":1230,"y":380,"wires":[["a2cb9691.8ceec8","10e401a4.6b3ade"]]},{"id":"1795975f.0e4429","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"porcentaje-de-desperdicios","qos":"0","datatype":"auto","broker":"42ce5d71.3a5094","x":170,"y":200,"wires":[["493afa50.af2464"]]},{"id":"7998e51b.780f1c","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"pedidos-rechazados","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":150,"y":340,"wires":[["867bea35.7daaf8"]]},{"id":"6028361c.eabe48","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"pedidos-entregados","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":150,"y":280,"wires":[["e23a0ff7.33665"]]},{"id":"e23a0ff7.33665","type":"ui_text","z":"9f69ba3f.7fb9a8","group":"760343df.4f5bec","order":0,"width":0,"height":0,"name":"","label":"Pedidos entregados:","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":280,"wires":[]},{"id":"f5686cee.febff","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"distancias-recorridas","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":150,"y":420,"wires":[["75abbd01.a82f34"]]},{"id":"2c690277.4a6cee","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"tiempo-entre-recargas","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":160,"y":500,"wires":[["873eb504.105888"]]},{"id":"f32c5854.678828","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"pedido-sin-tipo-de-camioneta","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":180,"y":600,"wires":[["4664db6a.9cef24"]]},{"id":"55d66115.d0d2f","type":"split","z":"9f69ba3f.7fb9a8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":500,"y":740,"wires":[["96835bb2.1ebf88","4f8a6fd4.98f46"]]},{"id":"f3a862aa.b068a","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"pizzas-pedidas-por-tipo","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":100,"y":740,"wires":[["a7aecac.bc98838","7a2e778c.9e1b68"]]},{"id":"4f8a6fd4.98f46","type":"debug","z":"9f69ba3f.7fb9a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":700,"wires":[]},{"id":"7a2e778c.9e1b68","type":"debug","z":"9f69ba3f.7fb9a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":680,"wires":[]},{"id":"a79f7324.cf43f","type":"ui_text_input","z":"9f69ba3f.7fb9a8","name":"","label":"Corridas","tooltip":"","group":"4d07a318.24c18c","order":7,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"experimentos","x":920,"y":160,"wires":[["e375dc34.b625d"]]},{"id":"44aac732.f2b008","type":"mqtt in","z":"9f69ba3f.7fb9a8","name":"","topic":"resumen","qos":"2","datatype":"auto","broker":"42ce5d71.3a5094","x":80,"y":820,"wires":[["cd32f411.15bbc8"]]},{"id":"81e926c6.37dd88","type":"debug","z":"9f69ba3f.7fb9a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":800,"wires":[]},{"id":"cd32f411.15bbc8","type":"function","z":"9f69ba3f.7fb9a8","name":"","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":820,"wires":[["81e926c6.37dd88","1bba7b8a.de22e4"]]},{"id":"d0461a80.f9b0d8","type":"ui_text_input","z":"9f69ba3f.7fb9a8","name":"","label":"Nombre Experimento","tooltip":"","group":"4d07a318.24c18c","order":9,"width":"8","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":960,"y":60,"wires":[["e375dc34.b625d"]]},{"id":"923fb0dc.83d6f","type":"ui_text","z":"9f69ba3f.7fb9a8","group":"4d07a318.24c18c","order":13,"width":"8","height":"1","name":"","label":"Dia actual","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":800,"wires":[]},{"id":"14e5089f.b39407","type":"ui_text_input","z":"9f69ba3f.7fb9a8","name":"","label":"Rango de atencion","tooltip":"","group":"4d07a318.24c18c","order":6,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"","x":950,"y":760,"wires":[[]]},{"id":"5712d00c.b951f","type":"ui_group","z":"","name":"Desperdicio","tab":"b8bfedb.b9c6a1","order":3,"disp":true,"width":"8","collapse":false},{"id":"b0bc6723.ab0c58","type":"ui_group","z":"","name":"TP Final 2020 - UNPSJB","tab":"b8bfedb.b9c6a1","order":1,"disp":true,"width":"32","collapse":false},{"id":"4d07a318.24c18c","type":"ui_group","z":"","name":"Configuracion","tab":"b8bfedb.b9c6a1","order":2,"disp":true,"width":"32","collapse":true},{"id":"999370c8.b800f","type":"ui_group","z":"","name":"Resumen","tab":"b8bfedb.b9c6a1","order":7,"disp":true,"width":"32","collapse":true},{"id":"3754d5c8.49840a","type":"ui_group","z":"","name":"Espera del Cliente","tab":"b8bfedb.b9c6a1","order":4,"disp":true,"width":"8","collapse":false},{"id":"ded796e0.41f168","type":"ui_group","z":"","name":"Tipos de pizza","tab":"b8bfedb.b9c6a1","order":5,"disp":true,"width":"8","collapse":false},{"id":"760343df.4f5bec","type":"ui_group","z":"","name":"Indicadores de interés","tab":"b8bfedb.b9c6a1","order":6,"disp":true,"width":"8","collapse":false},{"id":"2427399c.23f556","type":"ui_group","z":"","name":"Footer","tab":"b8bfedb.b9c6a1","order":8,"disp":true,"width":"32","collapse":false},{"id":"42ce5d71.3a5094","type":"mqtt-broker","z":"","name":"broker_mosquito","broker":"172.16.240.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b8bfedb.b9c6a1","type":"ui_tab","z":"","name":"Modelos y Simulación","icon":"dashboard","order":1,"disabled":false,"hidden":false}]