flow.json
[{"id":"f781d05a.ebcd5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"69ce479d.73f018","type":"ui_group","z":"","name":"Desperdicio","tab":"1218295e.c0d7c7","order":3,"disp":true,"width":"8","collapse":false},{"id":"a5343421.4bd908","type":"ui_group","z":"","name":"TP Final 2020 - UNPSJB","tab":"1218295e.c0d7c7","order":1,"disp":true,"width":"32","collapse":false},{"id":"bc78b0e1.48d16","type":"ui_group","z":"","name":"Configuracion","tab":"1218295e.c0d7c7","order":2,"disp":true,"width":"32","collapse":true},{"id":"f3572fd4.43f8","type":"ui_group","z":"","name":"Resumen","tab":"1218295e.c0d7c7","order":7,"disp":true,"width":"32","collapse":true},{"id":"70fab880.390708","type":"ui_group","z":"","name":"Espera del Cliente","tab":"1218295e.c0d7c7","order":4,"disp":true,"width":"8","collapse":false},{"id":"a36d7e41.dde2c","type":"ui_group","z":"","name":"Tipos de pizza","tab":"1218295e.c0d7c7","order":5,"disp":true,"width":"8","collapse":false},{"id":"1d4c5f9e.9a942","type":"ui_group","z":"","name":"Indicadores de interés","tab":"1218295e.c0d7c7","order":6,"disp":true,"width":"8","collapse":false},{"id":"6963dfaf.1bdee","type":"ui_group","z":"","name":"Footer","tab":"1218295e.c0d7c7","order":8,"disp":true,"width":"32","collapse":false},{"id":"d592df43.a5381","type":"mqtt-broker","z":"","name":"broker_mosquito","broker":"172.16.240.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1218295e.c0d7c7","type":"ui_tab","z":"","name":"Modelos y Simulación","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"af7023cf.9235b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ae7f36ce.3bbc08","type":"ui_group","z":"","name":"TP Final 2020 - UNPSJB","tab":"3ff36c75.8ae574","order":1,"disp":true,"width":"32","collapse":false},{"id":"d625808e.cc9dd","type":"ui_group","z":"","name":"Configuracion","tab":"3ff36c75.8ae574","order":2,"disp":true,"width":"32","collapse":true},{"id":"2a5890a4.d9dd6","type":"ui_group","z":"","name":"Resumen","tab":"3ff36c75.8ae574","order":10,"disp":true,"width":"32","collapse":true},{"id":"800540f9.70588","type":"ui_group","z":"","name":"% desperdicio","tab":"3ff36c75.8ae574","order":4,"disp":true,"width":"8","collapse":false},{"id":"46c0cdd9.f3d044","type":"ui_group","z":"","name":"Pizzas entregadas","tab":"3ff36c75.8ae574","order":5,"disp":true,"width":"8","collapse":false},{"id":"55170528.50bfdc","type":"ui_group","z":"","name":"Footer","tab":"3ff36c75.8ae574","order":11,"disp":true,"width":"32","collapse":false},{"id":"39e2c255.3023de","type":"mqtt-broker","z":"","name":"broker_mosquito","broker":"172.16.240.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3354c0c0.0f0eb","type":"ui_group","z":"","name":"Produccion sobre pedidos","tab":"3ff36c75.8ae574","order":3,"disp":true,"width":"8","collapse":false},{"id":"36c2c279.b2c8be","type":"ui_group","z":"","name":"Indicadores de interés","tab":"3ff36c75.8ae574","order":8,"disp":true,"width":"8","collapse":false},{"id":"3ff36c75.8ae574","type":"ui_tab","z":"","name":"Modelos y Simulación","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"db1306b7.b07288","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"bbc0cf9d.80162","type":"ui_group","z":"","name":"Espera de cliente","tab":"3ff36c75.8ae574","order":7,"disp":true,"width":"16","collapse":false},{"id":"48f48622.2820d8","type":"ui_group","z":"","name":"Tipos de pizza","tab":"3ff36c75.8ae574","order":6,"disp":true,"width":8,"collapse":false},{"id":"50b632f3.9d76dc","type":"ui_group","z":"","name":"Pizzas totales","tab":"3ff36c75.8ae574","order":9,"disp":true,"width":"8","collapse":false},{"id":"3a438867.aa0268","type":"ui_template","z":"f781d05a.ebcd5","group":"ae7f36ce.3bbc08","name":"","order":0,"width":"30","height":"2","format":"<div style=\"text-align:center; padding-bottom:2em:\">\n    <h1>\n        Panel de Simulacion\n    </h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":100,"wires":[[]]},{"id":"1353442b.167adc","type":"ui_text_input","z":"f781d05a.ebcd5","name":"","label":"Pedidos por hora","tooltip":"","group":"d625808e.cc9dd","order":16,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-pedidos-x-hora","x":950,"y":320,"wires":[["50433a59.fcf4b4"]]},{"id":"81a6475e.60d308","type":"ui_text_input","z":"f781d05a.ebcd5","name":"","label":"Hornos por camioneta","tooltip":"","group":"d625808e.cc9dd","order":2,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-hornos-x-camioneta","x":960,"y":360,"wires":[["50433a59.fcf4b4"]]},{"id":"8d111240.3b9f1","type":"ui_text_input","z":"f781d05a.ebcd5","name":"","label":"Pizzas por horno","tooltip":"","group":"d625808e.cc9dd","order":10,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-pizzas-x-horno","x":950,"y":400,"wires":[["50433a59.fcf4b4"]]},{"id":"a64a1356.54368","type":"ui_text_input","z":"f781d05a.ebcd5","name":"Cantidad de camionetas","label":"Cantidad de camionetas","tooltip":"","group":"d625808e.cc9dd","order":3,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-cantidad-camionetas","x":970,"y":440,"wires":[["50433a59.fcf4b4"]]},{"id":"82b0b554.5492b8","type":"ui_switch","z":"f781d05a.ebcd5","name":"anana","label":"Ananá","tooltip":"","group":"d625808e.cc9dd","order":8,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-anana","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":520,"wires":[["50433a59.fcf4b4"]]},{"id":"de3255f5.b390f8","type":"ui_switch","z":"f781d05a.ebcd5","name":"","label":"Calabresa","tooltip":"","group":"d625808e.cc9dd","order":12,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-calabresa","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":720,"wires":[["50433a59.fcf4b4"]]},{"id":"77f93057.8003d","type":"ui_switch","z":"f781d05a.ebcd5","name":"","label":"Napolitana","tooltip":"","group":"d625808e.cc9dd","order":11,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-napolitana","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":560,"wires":[["50433a59.fcf4b4"]]},{"id":"f5379eba.04282","type":"ui_switch","z":"f781d05a.ebcd5","name":"","label":"Fugazzeta","tooltip":"","group":"d625808e.cc9dd","order":4,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-fugazzeta","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":600,"wires":[["50433a59.fcf4b4"]]},{"id":"a709604b.e8169","type":"ui_switch","z":"f781d05a.ebcd5","name":"","label":"Mozzarella","tooltip":"","group":"d625808e.cc9dd","order":17,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-mozzarella","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":640,"wires":[["50433a59.fcf4b4"]]},{"id":"2137aae6.f1c296","type":"ui_template","z":"f781d05a.ebcd5","group":"d625808e.cc9dd","name":"","order":14,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"margin-top:0.25em;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":680,"wires":[[]]},{"id":"c9b4e09f.4b1d6","type":"ui_table","z":"f781d05a.ebcd5","group":"2a5890a4.d9dd6","name":"","order":0,"width":"32","height":"5","columns":[{"field":"corrida","title":"Corrida:","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"esperaClientes","title":"Espera promedio del cliente (min):","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"clientesHora","title":"Clientes atendidos por hora:","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"pizzasDia","title":"Pizzas entregadas por dia:","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"desperdicios","title":"Tasa de producción sobre pedidos:","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distanciasRecorridas","title":"Distancia recorrida (Km):","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"recargaCamionetas","title":"Tiempo entre recargas (min):","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":1730,"y":580,"wires":[]},{"id":"b92c74a3.a568d8","type":"ui_chart","z":"f781d05a.ebcd5","name":"","group":"bbc0cf9d.80162","order":1,"width":16,"height":5,"label":"Espera del cliente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1570,"y":640,"wires":[[]]},{"id":"197d16d4.b1f7f9","type":"function","z":"f781d05a.ebcd5","name":"","func":"/*\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i <= arrayLength; i++) {\n    var m = {};\n    m.labels = [msg.payload[i].Machine];\n    m.data = [[(msg.payload[i].TotalTime/60).toFixed(2)]];\n    m.series = [\"Total Time in 8 hours by Machine\"];\n    return {payload:[m],topic:msg.topic};\n}\n\n\nlet m = {};\n\nm.labels = [\n    \"Ananá\",\n    \"Calabresa\",\n    \"Fugazzeta\",\n    \"Mozzarella\",\n    \"Napolitana\"\n];\nm.data = [[\n    10,\n    10,\n    10,\n    30,\n    50\n]];\n\nm.series = [\"Tipos de pizza \"];\nmsg.payload = m;\nreturn msg;\n\nconst opcion = Math.round(Math.random()*100);\nif (opcion < 5){\n    msg.topic = \"Anana\";\n    msg.payload = 10;\n    return msg;\n} else if (opcion < 20) {\n    msg.topic = \"Calabresa\";\n    msg.payload = 20;\n    return msg;\n} else if (opcion < 55) {\n    msg.topic = \"Mozzarella\";\n    msg.payload = 30;\n    return msg;\n} else if (opcion < 75) {\n    msg.topic = \"Fugazzeta\";\n    msg.payload = 20;\n    return msg;\n} else {\n    msg.topic = \"Napolitana\";\n    msg.payload = 20;\n    return msg;\n}\n*/\n\nlet tiposDePizza = JSON.parse(msg.payload)\n\n\nmsg.payload = tiposDePizza\n\nreturn msg\n","outputs":1,"noerr":0,"x":1430,"y":740,"wires":[["64f3c353.4fbf1c"]]},{"id":"7012c830.cce2a8","type":"ui_chart","z":"f781d05a.ebcd5","name":"","group":"48f48622.2820d8","order":1,"width":0,"height":0,"label":"Ventas por tipo de pizza","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1810,"y":740,"wires":[[]]},{"id":"325d62ee.0376be","type":"ui_template","z":"f781d05a.ebcd5","group":"55170528.50bfdc","name":"Footer","order":13,"width":0,"height":0,"format":"<div style=\"paddin-bottom:0.25em;\">\n    <p>Allende Lucila</p>\n    <p>Alzugaray Luciano</p>\n    <p>Ducid Matias</p>\n    <p>Krmpotic Lucas</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":690,"y":860,"wires":[[]]},{"id":"a654a91.4b1d758","type":"mqtt out","z":"f781d05a.ebcd5","name":"iniciar_simulacion","topic":"control","qos":"","retain":"","broker":"39e2c255.3023de","x":1410,"y":440,"wires":[]},{"id":"6478aeb9.1cbd","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"espera-de-cliente","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1280,"y":640,"wires":[["b92c74a3.a568d8"]]},{"id":"20d2129e.7eb12e","type":"ui_date_picker","z":"f781d05a.ebcd5","name":"","label":"Inicio","group":"d625808e.cc9dd","order":1,"width":"8","height":"1","passthru":true,"topic":"change-inicio","x":910,"y":240,"wires":[["50433a59.fcf4b4"]]},{"id":"e10f594b.6a7f08","type":"debug","z":"f781d05a.ebcd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":480,"wires":[]},{"id":"9deac6b8.d1f0a8","type":"ui_button","z":"f781d05a.ebcd5","name":"","group":"d625808e.cc9dd","order":15,"width":0,"height":0,"passthru":false,"label":"INICIAR SIMULACION","tooltip":"","color":"","bgcolor":"","icon":"","payload":"iniciar","payloadType":"str","topic":"action","x":960,"y":480,"wires":[["50433a59.fcf4b4","bee932ed.74835"]]},{"id":"50433a59.fcf4b4","type":"function","z":"f781d05a.ebcd5","name":"","func":"let payload = context.get(\"inputs-data\")\nif (!payload){\n    payload = {\n        inicio: null,\n        fin: null,\n        volverAlRestaurante: null,\n        pedidosPorHora: null,\n        hornosPorCamioneta: null,\n        pizzasPorHorno: null,\n        cantidadCamionetas: null,\n        anana: null,\n        napolitana: null,\n        fugazzeta: null,\n        mozzarella: null,\n        calabresa: null,\n        cantidadExperimentos: null,\n        nombreExperimento: null,\n        rangoAtencion: null,\n    }\n}\n\n    \nif (msg.topic === 'action'){\n    msg.payload = payload;\n    return msg;\n} else if (msg.topic === 'change-inicio') {\n    payload.inicio = msg.payload;\n} else if (msg.topic === 'change-fin') {\n    payload.fin = msg.payload;\n} else if (msg.topic === 'change-volver-al-restaurante') {\n    payload.volverAlRestaurante = msg.payload;\n} else if (msg.topic === 'change-pedidos-x-hora') {\n    payload.pedidosPorHora = msg.payload;\n} else if (msg.topic === 'change-hornos-x-camioneta') {\n    payload.hornosPorCamioneta = msg.payload;\n} else if (msg.topic === 'change-pizzas-x-horno') {\n    payload.pizzasPorHorno = msg.payload;\n} else if (msg.topic === 'change-cantidad-camionetas') {\n    payload.cantidadCamionetas = msg.payload;\n} else if (msg.topic === 'change-anana') {\n    payload.anana = msg.payload;\n} else if (msg.topic === 'change-napolitana') {\n    payload.napolitana = msg.payload;\n} else if (msg.topic === 'change-fugazzeta') {\n    payload.fugazzeta = msg.payload;\n} else if (msg.topic === 'change-mozzarella') {\n    payload.mozzarella = msg.payload;\n} else if (msg.topic === 'change-calabresa') {\n    payload.calabresa = msg.payload;\n} else if (msg.topic === 'experimentos') {\n    payload.cantidadExperimentos = msg.payload;\n} else if (msg.topic === 'nombre-experimento') {\n    payload.nombreExperimento = msg.payload;\n} else if (msg.topic === 'rango-de-atencion') {\n    payload.rangoAtencion = msg.payload;\n} \n\ncontext.set(\"inputs-data\", payload)\n    ","outputs":1,"noerr":0,"x":1210,"y":460,"wires":[["e10f594b.6a7f08","a654a91.4b1d758"]]},{"id":"64f3c353.4fbf1c","type":"split","z":"f781d05a.ebcd5","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":1600,"y":740,"wires":[["7012c830.cce2a8","e767626f.2f1d6"]]},{"id":"b41f8b01.aab108","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"pizzas-pedidas-por-tipo","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1200,"y":740,"wires":[["197d16d4.b1f7f9","684efc77.042a34"]]},{"id":"e767626f.2f1d6","type":"debug","z":"f781d05a.ebcd5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":700,"wires":[]},{"id":"684efc77.042a34","type":"debug","z":"f781d05a.ebcd5","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1430,"y":680,"wires":[]},{"id":"e079d03.4e8183","type":"ui_text_input","z":"f781d05a.ebcd5","name":"","label":"Corridas","tooltip":"","group":"d625808e.cc9dd","order":7,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"experimentos","x":920,"y":200,"wires":[["50433a59.fcf4b4"]]},{"id":"f8c50d3d.1ff9c","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"resumen","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1220,"y":540,"wires":[["d2709a84.d2bc78"]]},{"id":"68e7493c.e25d68","type":"debug","z":"f781d05a.ebcd5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1570,"y":520,"wires":[]},{"id":"d2709a84.d2bc78","type":"function","z":"f781d05a.ebcd5","name":"","func":"msg.payload = JSON.parse(msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":540,"wires":[["68e7493c.e25d68","f1b8e05c.a374"]]},{"id":"eee398a8.f94938","type":"ui_text_input","z":"f781d05a.ebcd5","name":"","label":"Nombre Experimento","tooltip":"","group":"d625808e.cc9dd","order":9,"width":"8","height":"1","passthru":true,"mode":"text","delay":300,"topic":"nombre-experimento","x":960,"y":60,"wires":[["50433a59.fcf4b4"]]},{"id":"26937834.da3558","type":"ui_text_input","z":"f781d05a.ebcd5","name":"","label":"Rango de atencion","tooltip":"","group":"d625808e.cc9dd","order":6,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"rango-de-atencion","x":950,"y":760,"wires":[["50433a59.fcf4b4"]]},{"id":"bee932ed.74835","type":"function","z":"f781d05a.ebcd5","name":"clean","func":"msg.payload = []\nmsg.topic = \"#\"\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":580,"wires":[["b92c74a3.a568d8","7012c830.cce2a8","c9b4e09f.4b1d6","14c4b989.8ab616"]]},{"id":"b71ec05f.126e6","type":"ui_date_picker","z":"f781d05a.ebcd5","name":"","label":"Fin","group":"d625808e.cc9dd","order":5,"width":"8","height":"1","passthru":true,"topic":"change-fin","x":910,"y":280,"wires":[["50433a59.fcf4b4"]]},{"id":"ec8b07cb.0d5848","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"experimento","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":750,"y":60,"wires":[["eee398a8.f94938"]]},{"id":"340464df.ef190c","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":280,"wires":[["b71ec05f.126e6"]]},{"id":"5ba7ab06.f5a104","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"20","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":320,"wires":[["1353442b.167adc"]]},{"id":"6de7e005.1a485","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":360,"wires":[["81a6475e.60d308"]]},{"id":"3a2e5e19.a1ede2","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"40","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":400,"wires":[["8d111240.3b9f1"]]},{"id":"923b758c.538578","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":440,"wires":[["a64a1356.54368"]]},{"id":"a1669013.4678c","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":740,"y":240,"wires":[["20d2129e.7eb12e"]]},{"id":"20182627.6b9c4a","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":200,"wires":[["e079d03.4e8183"]]},{"id":"bda2716.3dc8f9","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":760,"wires":[["26937834.da3558"]]},{"id":"e2ec6f92.7a0a1","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":520,"wires":[["82b0b554.5492b8"]]},{"id":"fe5d122e.d7ff","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":560,"wires":[["77f93057.8003d"]]},{"id":"30c7240.76f74dc","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":600,"wires":[["f5379eba.04282"]]},{"id":"49095169.67965","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":640,"wires":[["a709604b.e8169"]]},{"id":"84b1f39d.e539c","type":"inject","z":"f781d05a.ebcd5","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":730,"y":720,"wires":[["de3255f5.b390f8"]]},{"id":"64011210.77a2fc","type":"ui_gauge","z":"f781d05a.ebcd5","name":"","group":"3354c0c0.0f0eb","order":1,"width":0,"height":0,"gtype":"gage","title":"Tasa de producción sobre pedidos","label":"%","format":"{{msg.payload}}","min":0,"max":"500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"100","seg2":"250","x":1900,"y":40,"wires":[]},{"id":"d8e7dcb7.9e32d","type":"ui_text","z":"f781d05a.ebcd5","group":"36c2c279.b2c8be","order":1,"width":0,"height":0,"name":"","label":"Pedidos rechazados:","format":"{{msg.payload}}","layout":"row-spread","x":1860,"y":160,"wires":[]},{"id":"1b990b4f.e39e55","type":"ui_text","z":"f781d05a.ebcd5","group":"36c2c279.b2c8be","order":2,"width":0,"height":0,"name":"","label":"Distancia Recorrida (km):","format":"{{msg.payload}}","layout":"row-spread","x":1870,"y":200,"wires":[]},{"id":"2594d1ce.af3a3e","type":"ui_text","z":"f781d05a.ebcd5","group":"36c2c279.b2c8be","order":3,"width":0,"height":0,"name":"","label":"Tiempo entre recargas (min):","format":"{{msg.payload}}","layout":"row-spread","x":1880,"y":80,"wires":[]},{"id":"6e6600a1.69245","type":"ui_text","z":"f781d05a.ebcd5","group":"36c2c279.b2c8be","order":4,"width":0,"height":0,"name":"","label":"Pedidos sin tipo en camioneta:","format":"{{msg.payload}}","layout":"row-spread","x":1890,"y":240,"wires":[]},{"id":"aad2b5c2.95afd8","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"porcentaje-de-desperdicios","qos":"0","datatype":"auto","broker":"39e2c255.3023de","x":1150,"y":20,"wires":[["e2dbc95b.974d48"]]},{"id":"685c815a.68501","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"pedidos-rechazados","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1370,"y":160,"wires":[["d8e7dcb7.9e32d"]]},{"id":"62e46341.71889c","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"pedidos-entregados","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1370,"y":120,"wires":[["4f6cdc8c.590ac4"]]},{"id":"4f6cdc8c.590ac4","type":"ui_text","z":"f781d05a.ebcd5","group":"36c2c279.b2c8be","order":5,"width":0,"height":0,"name":"","label":"Pedidos entregados:","format":"{{msg.payload}}","layout":"row-spread","x":1860,"y":120,"wires":[]},{"id":"5d3078e2.147378","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"distancias-recorridas","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1370,"y":200,"wires":[["1b990b4f.e39e55"]]},{"id":"58345c95.79af24","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"tiempo-entre-recargas","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1380,"y":80,"wires":[["724f2adf.fb8714"]]},{"id":"961ab526.a70cc8","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"pedido-sin-tipo-de-camioneta","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1400,"y":240,"wires":[["6e6600a1.69245"]]},{"id":"d9b61a2f.577338","type":"ui_text","z":"f781d05a.ebcd5","group":"d625808e.cc9dd","order":13,"width":"8","height":"1","name":"","label":"Dia actual","format":"{{msg.payload}}","layout":"row-spread","x":1820,"y":280,"wires":[]},{"id":"93d768e.1abf498","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"dia-actual","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1340,"y":280,"wires":[["d9b61a2f.577338"]]},{"id":"14c4b989.8ab616","type":"function","z":"f781d05a.ebcd5","name":"","func":"msg.payload = 0\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":460,"wires":[["64011210.77a2fc","4f6cdc8c.590ac4","d8e7dcb7.9e32d","1b990b4f.e39e55","2594d1ce.af3a3e","6e6600a1.69245","d9b61a2f.577338","342470c7.19e88","44af68bc.9e2be8","4b00c227.8d1acc"]]},{"id":"724f2adf.fb8714","type":"function","z":"f781d05a.ebcd5","name":"fijar-decimales","func":"msg.payload = Number(msg.payload).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":80,"wires":[["2594d1ce.af3a3e"]]},{"id":"3d29d0b8.07b7a","type":"function","z":"f781d05a.ebcd5","name":"cambiar-a-porcentaje","func":"msg.payload = `${msg.payload.toString()}%`\nreturn msg;","outputs":1,"noerr":0,"x":1600,"y":20,"wires":[["64011210.77a2fc"]]},{"id":"e2dbc95b.974d48","type":"function","z":"f781d05a.ebcd5","name":"fijar-decimales","func":"msg.payload = Number(msg.payload).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":20,"wires":[["3d29d0b8.07b7a"]]},{"id":"f1b8e05c.a374","type":"function","z":"f781d05a.ebcd5","name":"fijar-decimales","func":"msg.payload = msg.payload.map(element =>{\n    let desperdicios = Number(element.desperdicios).toFixed(2)\n    element.desperdicios = `${desperdicios}%`\n    return element\n})\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":560,"wires":[["c9b4e09f.4b1d6"]]},{"id":"44af68bc.9e2be8","type":"ui_gauge","z":"f781d05a.ebcd5","name":"","group":"800540f9.70588","order":1,"width":0,"height":0,"gtype":"gage","title":"Porcentaje de desperdicio","label":"%","format":"{{msg.payload}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1870,"y":320,"wires":[]},{"id":"342470c7.19e88","type":"ui_gauge","z":"f781d05a.ebcd5","name":"","group":"46c0cdd9.f3d044","order":1,"width":0,"height":0,"gtype":"gage","title":"Porcentaje de pizzas entregadas","label":"pizzas","format":"{{msg.payload}}","min":0,"max":"100","colors":["#b50000","#e6e600","#42ca38"],"seg1":"","seg2":"","x":1900,"y":360,"wires":[]},{"id":"4b00c227.8d1acc","type":"ui_text","z":"f781d05a.ebcd5","group":"50b632f3.9d76dc","order":1,"width":8,"height":5,"name":"","label":"<font size=16>Total de pizzas","format":"<font size=16> {{msg.payload}}","layout":"col-center","x":1890,"y":400,"wires":[]},{"id":"45f2bc5b.50f2a4","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"porcentaje-desperdicios","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1180,"y":320,"wires":[["966eddb9.cebc5"]]},{"id":"c688c062.9d6ca","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"porcentaje-entregas","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1190,"y":360,"wires":[["3f2125cb.697f3a"]]},{"id":"437c7470.3b69cc","type":"mqtt in","z":"f781d05a.ebcd5","name":"","topic":"total-pizzas","qos":"2","datatype":"auto","broker":"39e2c255.3023de","x":1350,"y":400,"wires":[["4b00c227.8d1acc"]]},{"id":"f59dd0e3.c086d","type":"function","z":"f781d05a.ebcd5","name":"cambiar-a-porcentaje","func":"msg.payload = `${msg.payload.toString()}%`\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":320,"wires":[["44af68bc.9e2be8"]]},{"id":"966eddb9.cebc5","type":"function","z":"f781d05a.ebcd5","name":"fijar-decimales","func":"msg.payload = Number(msg.payload).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":320,"wires":[["f59dd0e3.c086d"]]},{"id":"5d0720bb.8caf9","type":"function","z":"f781d05a.ebcd5","name":"cambiar-a-porcentaje","func":"msg.payload = `${msg.payload.toString()}%`\nreturn msg;","outputs":1,"noerr":0,"x":1620,"y":360,"wires":[["342470c7.19e88"]]},{"id":"3f2125cb.697f3a","type":"function","z":"f781d05a.ebcd5","name":"fijar-decimales","func":"msg.payload = Number(msg.payload).toFixed(2)\nreturn msg;","outputs":1,"noerr":0,"x":1400,"y":360,"wires":[["5d0720bb.8caf9"]]}]