flow.json
[{"id":"699a3d76.145224","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"303659f7.1ea886","type":"ui_gauge","z":"699a3d76.145224","name":"","group":"ff31fd11.bafd3","order":0,"width":0,"height":0,"gtype":"gage","title":"Porcentaje de desperdicios","label":"%","format":"{{msg.payload}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":200,"wires":[]},{"id":"b802741c.00d128","type":"ui_template","z":"699a3d76.145224","group":"de115e41.4f464","name":"","order":0,"width":"30","height":"2","format":"<div style=\"text-align:center; padding-bottom:2em:\">\n    <h1>\n        Panel de Simulacion\n    </h1>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":160,"wires":[[]]},{"id":"e00b150b.f94268","type":"ui_dropdown","z":"699a3d76.145224","name":"","label":"Volver al restaurante","tooltip":"","place":"Elegir","group":"5e664904.23b878","order":9,"width":"8","height":"1","passthru":true,"multiple":false,"options":[{"label":"Camioneta mas cercana","value":1,"type":"num"},{"label":"Camioneta mas próxima a liberarse","value":2,"type":"num"}],"payload":"","topic":"change-volver-al-restaurante","x":960,"y":280,"wires":[["32d55ebd.9a8fe2"]]},{"id":"8e962bad.b036d8","type":"ui_date_picker","z":"699a3d76.145224","name":"","label":"Fin","group":"5e664904.23b878","order":5,"width":"8","height":"1","passthru":true,"topic":"change-fin","x":910,"y":240,"wires":[["32d55ebd.9a8fe2"]]},{"id":"6ab9be08.deb5c","type":"ui_text_input","z":"699a3d76.145224","name":"","label":"Pedidos por hora","tooltip":"","group":"5e664904.23b878","order":10,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-pedidos-x-hora","x":950,"y":320,"wires":[["32d55ebd.9a8fe2"]]},{"id":"ad2204b7.cbee58","type":"ui_text_input","z":"699a3d76.145224","name":"","label":"Hornos por camioneta","tooltip":"","group":"5e664904.23b878","order":6,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-hornos-x-camioneta","x":960,"y":360,"wires":[["32d55ebd.9a8fe2"]]},{"id":"be076fb4.61b6b","type":"ui_text_input","z":"699a3d76.145224","name":"","label":"Pizzas por horno","tooltip":"","group":"5e664904.23b878","order":2,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-pizzas-x-horno","x":950,"y":400,"wires":[["32d55ebd.9a8fe2"]]},{"id":"ef08f7f8.6c2188","type":"ui_text_input","z":"699a3d76.145224","name":"Cantidad de camionetas","label":"Cantidad de camionetas","tooltip":"","group":"5e664904.23b878","order":3,"width":"8","height":"1","passthru":true,"mode":"number","delay":300,"topic":"change-cantidad-camionetas","x":970,"y":440,"wires":[["32d55ebd.9a8fe2"]]},{"id":"7629984e.d627d8","type":"ui_switch","z":"699a3d76.145224","name":"anana","label":"Ananá","tooltip":"","group":"5e664904.23b878","order":7,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-anana","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":910,"y":520,"wires":[["32d55ebd.9a8fe2"]]},{"id":"1ddc630a.dca3fd","type":"ui_switch","z":"699a3d76.145224","name":"","label":"Calabresa","tooltip":"","group":"5e664904.23b878","order":11,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-calabresa","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":720,"wires":[["32d55ebd.9a8fe2"]]},{"id":"4d9c4df.533afb4","type":"ui_switch","z":"699a3d76.145224","name":"","label":"Napolitana","tooltip":"","group":"5e664904.23b878","order":12,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-napolitana","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":560,"wires":[["32d55ebd.9a8fe2"]]},{"id":"5dad0c89.f3a2a4","type":"ui_switch","z":"699a3d76.145224","name":"","label":"Fugazzeta","tooltip":"","group":"5e664904.23b878","order":4,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-fugazzeta","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":600,"wires":[["32d55ebd.9a8fe2"]]},{"id":"72521656.db9338","type":"ui_switch","z":"699a3d76.145224","name":"","label":"Mozzarella","tooltip":"","group":"5e664904.23b878","order":8,"width":"8","height":"1","passthru":true,"decouple":"false","topic":"change-mozzarella","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":930,"y":640,"wires":[["32d55ebd.9a8fe2"]]},{"id":"edec5584.38c518","type":"ui_template","z":"699a3d76.145224","group":"5e664904.23b878","name":"","order":13,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\" style=\"margin-top:0.25em;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":920,"y":680,"wires":[[]]},{"id":"1406e118.5dd35f","type":"ui_table","z":"699a3d76.145224","group":"2e68615d.1003fe","name":"","order":0,"width":"32","height":"5","columns":[{"field":"corrida","title":"Corrida","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"esperaClientes","title":"Espera promedio del cliente","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"clientesHora","title":"Clientes atendidos por hora","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"pizzasDia","title":"Pizzas entregadas por dia","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"desperdicios","title":"Porcentaje de desperdicios","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distanciasRecorridas","title":"Distancia recorrida","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"recargaCamionetas","title":"Tiempo entre recargas","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":750,"y":660,"wires":[]},{"id":"73ff3914.b7e3a8","type":"function","z":"699a3d76.145224","name":"","func":"let payload = [\n    {\n        \"corrida\":\"1\",\n        \"esperaClientes\":\"10\",\n        \"clientesHora\":\"10\",\n        \"pizzasDia\":\"10\",\n        \"desperdicios\":\"10\",\n        \"distanciasRecorridas\":\"10\",\n        \"recargaCamionetas\":\"10\"    \n    },\n    {\n        \"corrida\":\"2\",\n        \"esperaClientes\":\"20\",\n        \"clientesHora\":\"20\",\n        \"pizzasDia\":\"20\",\n        \"desperdicios\":\"20\",\n        \"distanciasRecorridas\":\"20\",\n        \"recargaCamionetas\":\"20\"    \n    },\n    {\n        \"corrida\":\"3\",\n        \"esperaClientes\":\"30\",\n        \"clientesHora\":\"30\",\n        \"pizzasDia\":\"30\",\n        \"desperdicios\":\"30\",\n        \"distanciasRecorridas\":\"30\",\n        \"recargaCamionetas\":\"30\"    \n    },\n    {\n        \"corrida\":\"4\",\n        \"esperaClientes\":\"40\",\n        \"clientesHora\":\"40\",\n        \"pizzasDia\":\"40\",\n        \"desperdicios\":\"40\",\n        \"distanciasRecorridas\":\"40\",\n        \"recargaCamionetas\":\"40\"    \n    },\n        {\n        \"corrida\":\"5\",\n        \"esperaClientes\":\"50\",\n        \"clientesHora\":\"50\",\n        \"pizzasDia\":\"50\",\n        \"desperdicios\":\"50\",\n        \"distanciasRecorridas\":\"50\",\n        \"recargaCamionetas\":\"50\"    \n    },\n    {\n        \"corrida\":\"6\",\n        \"esperaClientes\":\"60\",\n        \"clientesHora\":\"60\",\n        \"pizzasDia\":\"60\",\n        \"desperdicios\":\"60\",\n        \"distanciasRecorridas\":\"60\",\n        \"recargaCamionetas\":\"60\"    \n    },\n    {\n        \"corrida\":\"7\",\n        \"esperaClientes\":\"70\",\n        \"clientesHora\":\"70\",\n        \"pizzasDia\":\"70\",\n        \"desperdicios\":\"70\",\n        \"distanciasRecorridas\":\"70\",\n        \"recargaCamionetas\":\"70\"    \n    },\n    {\n        \"corrida\":\"8\",\n        \"esperaClientes\":\"80\",\n        \"clientesHora\":\"80\",\n        \"pizzasDia\":\"80\",\n        \"desperdicios\":\"80\",\n        \"distanciasRecorridas\":\"80\",\n        \"recargaCamionetas\":\"80\"    \n    },\n    {\n        \"corrida\":\"9\",\n        \"esperaClientes\":\"90\",\n        \"clientesHora\":\"90\",\n        \"pizzasDia\":\"90\",\n        \"desperdicios\":\"90\",\n        \"distanciasRecorridas\":\"90\",\n        \"recargaCamionetas\":\"90\"    \n    },\n        {\n        \"corrida\":\"10\",\n        \"esperaClientes\":\"100\",\n        \"clientesHora\":\"100\",\n        \"pizzasDia\":\"100\",\n        \"desperdicios\":\"100\",\n        \"distanciasRecorridas\":\"100\",\n        \"recargaCamionetas\":\"100\"    \n    }\n];\nmsg.payload = payload;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":660,"wires":[["1406e118.5dd35f"]]},{"id":"f00e4f8b.caf9f","type":"ui_chart","z":"699a3d76.145224","name":"","group":"837631e7.6ccd3","order":1,"width":0,"height":0,"label":"Espera del cliente","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":430,"y":120,"wires":[[]]},{"id":"53e5cbcc.3a8884","type":"function","z":"699a3d76.145224","name":"","func":"/*\nvar arrayLength = msg.payload.length;\nfor (var i = 0; i <= arrayLength; i++) {\n    var m = {};\n    m.labels = [msg.payload[i].Machine];\n    m.data = [[(msg.payload[i].TotalTime/60).toFixed(2)]];\n    m.series = [\"Total Time in 8 hours by Machine\"];\n    return {payload:[m],topic:msg.topic};\n}\n\n\nlet m = {};\n\nm.labels = [\n    \"Ananá\",\n    \"Calabresa\",\n    \"Fugazzeta\",\n    \"Mozzarella\",\n    \"Napolitana\"\n];\nm.data = [[\n    10,\n    10,\n    10,\n    30,\n    50\n]];\n\nm.series = [\"Tipos de pizza \"];\nmsg.payload = m;\nreturn msg;\n\nconst opcion = Math.round(Math.random()*100);\nif (opcion < 5){\n    msg.topic = \"Anana\";\n    msg.payload = 10;\n    return msg;\n} else if (opcion < 20) {\n    msg.topic = \"Calabresa\";\n    msg.payload = 20;\n    return msg;\n} else if (opcion < 55) {\n    msg.topic = \"Mozzarella\";\n    msg.payload = 30;\n    return msg;\n} else if (opcion < 75) {\n    msg.topic = \"Fugazzeta\";\n    msg.payload = 20;\n    return msg;\n} else {\n    msg.topic = \"Napolitana\";\n    msg.payload = 20;\n    return msg;\n}\n*/\n\nlet tiposDePizza = JSON.parse(msg.payload)\n\n\nmsg.payload = tiposDePizza\n\nreturn msg\n","outputs":1,"noerr":0,"x":330,"y":740,"wires":[["f1d5a73b.314878"]]},{"id":"6e43b79b.e280b8","type":"ui_chart","z":"699a3d76.145224","name":"","group":"d852d2ea.c1572","order":0,"width":0,"height":0,"label":"Ventas por tipo de pizza","chartType":"pie","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":740,"wires":[[]]},{"id":"a581348c.e4aa28","type":"ui_text","z":"699a3d76.145224","group":"1b677c2.e076084","order":0,"width":0,"height":0,"name":"","label":"Pedidos rechazados:","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":340,"wires":[]},{"id":"7d9080ab.aefe5","type":"ui_template","z":"699a3d76.145224","group":"87ea8bba.149f98","name":"Footer","order":13,"width":0,"height":0,"format":"<div style=\"paddin-bottom:0.25em;\">\n    <p>Allende Lucila</p>\n    <p>Alzugaray Luciano</p>\n    <p>Ducid Matias</p>\n    <p>Krmpotic Lucas</p>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":910,"y":780,"wires":[[]]},{"id":"a2e096f6.3fbce8","type":"ui_text","z":"699a3d76.145224","group":"1b677c2.e076084","order":0,"width":0,"height":0,"name":"","label":"Distancia Recorrida:","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":420,"wires":[]},{"id":"4a44112b.1e8db","type":"ui_text","z":"699a3d76.145224","group":"1b677c2.e076084","order":0,"width":0,"height":0,"name":"","label":"Tiempo entre recargas:","format":"{{msg.payload}}","layout":"row-spread","x":470,"y":500,"wires":[]},{"id":"c914f043.96f2c","type":"ui_text","z":"699a3d76.145224","group":"1b677c2.e076084","order":0,"width":0,"height":0,"name":"","label":"Pedidos sin tipo en camioneta:","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":600,"wires":[]},{"id":"14a6905.344977","type":"mqtt out","z":"699a3d76.145224","name":"iniciar_simulacion","topic":"topic_control","qos":"","retain":"","broker":"9cdedd87.30777","x":1590,"y":440,"wires":[]},{"id":"f683607d.c4b6c","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"espera-de-cliente","qos":"2","datatype":"auto","broker":"9cdedd87.30777","x":140,"y":120,"wires":[["f00e4f8b.caf9f"]]},{"id":"c3c82268.3ed97","type":"ui_date_picker","z":"699a3d76.145224","name":"","label":"Inicio","group":"5e664904.23b878","order":1,"width":"8","height":"1","passthru":true,"topic":"change-inicio","x":910,"y":200,"wires":[["32d55ebd.9a8fe2"]]},{"id":"a1e97129.a269e","type":"debug","z":"699a3d76.145224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":380,"wires":[]},{"id":"cd5aab5f.2a3798","type":"ui_button","z":"699a3d76.145224","name":"","group":"5e664904.23b878","order":15,"width":0,"height":0,"passthru":false,"label":"INICIAR SIMULACION","tooltip":"","color":"","bgcolor":"","icon":"","payload":"iniciar","payloadType":"str","topic":"action","x":960,"y":480,"wires":[["32d55ebd.9a8fe2"]]},{"id":"32d55ebd.9a8fe2","type":"function","z":"699a3d76.145224","name":"","func":"let payload = context.get(\"inputs-data\")\nif (!payload){\n    payload = {\n        inicio: null,\n        fin: null,\n        volverAlRestaurante: null,\n        pedidosPorHora: null,\n        hornosPorCamioneta: null,\n        pizzasPorHorno: null,\n        cantidadCamionetas: null,\n        anana: null,\n        napolitana: null,\n        fugazzeta: null,\n        mozzarella: null,\n        calabresa: null,\n    }\n}\n\n    \nif (msg.topic === 'action'){\n    msg.payload = payload;\n    return msg;\n} else if (msg.topic === 'change-inicio') {\n    payload.inicio = msg.payload;\n} else if (msg.topic === 'change-fin') {\n    payload.fin = msg.payload;\n} else if (msg.topic === 'change-volver-al-restaurante') {\n    payload.volverAlRestaurante = msg.payload;\n} else if (msg.topic === 'change-pedidos-x-hora') {\n    payload.pedidosPorHora = msg.payload;\n} else if (msg.topic === 'change-hornos-x-camioneta') {\n    payload.hornosPorCamioneta = msg.payload;\n} else if (msg.topic === 'change-pizzas-x-horno') {\n    payload.pizzasPorHorno = msg.payload;\n} else if (msg.topic === 'change-cantidad-camionetas') {\n    payload.cantidadCamionetas = msg.payload;\n} else if (msg.topic === 'change-anana') {\n    payload.anana = msg.payload;\n} else if (msg.topic === 'change-napolitana') {\n    payload.napolitana = msg.payload;\n} else if (msg.topic === 'change-fugazzeta') {\n    payload.fugazzeta = msg.payload;\n} else if (msg.topic === 'change-mozzarella') {\n    payload.mozzarella = msg.payload;\n} else if (msg.topic === 'change-calabresa') {\n    payload.calabresa = msg.payload;\n}\n\ncontext.set(\"inputs-data\", payload)\n    ","outputs":1,"noerr":0,"x":1230,"y":380,"wires":[["a1e97129.a269e"]]},{"id":"21b2b3fc.1dc6cc","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"porcentaje-de-desperdicios","qos":"0","datatype":"auto","broker":"9cdedd87.30777","x":170,"y":200,"wires":[["303659f7.1ea886"]]},{"id":"cd6c8600.ec1408","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"pedidos-rechazados","qos":"2","datatype":"auto","broker":"9cdedd87.30777","x":150,"y":340,"wires":[["a581348c.e4aa28"]]},{"id":"d7b1def3.b074c","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"pedidos-entregados","qos":"2","datatype":"auto","broker":"9cdedd87.30777","x":150,"y":280,"wires":[["ac362ffb.3f121"]]},{"id":"ac362ffb.3f121","type":"ui_text","z":"699a3d76.145224","group":"1b677c2.e076084","order":0,"width":0,"height":0,"name":"","label":"Pedidos entregados:","format":"{{msg.payload}}","layout":"row-spread","x":440,"y":280,"wires":[]},{"id":"e4aaf9c.819d408","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"distancias-recorridas","qos":"2","datatype":"auto","broker":"9cdedd87.30777","x":150,"y":420,"wires":[["a2e096f6.3fbce8"]]},{"id":"d6034c1.dd358b","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"tiempo-entre-recargas","qos":"2","datatype":"auto","broker":"9cdedd87.30777","x":160,"y":500,"wires":[["4a44112b.1e8db"]]},{"id":"269341c6.e804ee","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"pedido-sin-tipo-de-camioneta","qos":"2","datatype":"auto","broker":"9cdedd87.30777","x":180,"y":600,"wires":[["c914f043.96f2c"]]},{"id":"f1d5a73b.314878","type":"split","z":"699a3d76.145224","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":500,"y":740,"wires":[["6e43b79b.e280b8","3002d383.f4ef9c"]]},{"id":"6d91e070.ba514","type":"mqtt in","z":"699a3d76.145224","name":"","topic":"pizzas-pedidas-por-tipo","qos":"2","datatype":"auto","broker":"9cdedd87.30777","x":100,"y":740,"wires":[["53e5cbcc.3a8884","50748746.4fa408"]]},{"id":"3002d383.f4ef9c","type":"debug","z":"699a3d76.145224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":700,"wires":[]},{"id":"50748746.4fa408","type":"debug","z":"699a3d76.145224","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":330,"y":680,"wires":[]},{"id":"ff31fd11.bafd3","type":"ui_group","z":"","name":"Desperdicio","tab":"57cf8e9a.9fdaa","order":3,"disp":true,"width":"8","collapse":false},{"id":"de115e41.4f464","type":"ui_group","z":"","name":"TP Final 2020 - UNPSJB","tab":"57cf8e9a.9fdaa","order":1,"disp":true,"width":"32","collapse":false},{"id":"5e664904.23b878","type":"ui_group","z":"","name":"Configuracion","tab":"57cf8e9a.9fdaa","order":2,"disp":true,"width":"32","collapse":true},{"id":"2e68615d.1003fe","type":"ui_group","z":"","name":"Resumen","tab":"57cf8e9a.9fdaa","order":7,"disp":true,"width":"32","collapse":true},{"id":"837631e7.6ccd3","type":"ui_group","z":"","name":"Espera del Cliente","tab":"57cf8e9a.9fdaa","order":4,"disp":true,"width":"8","collapse":false},{"id":"d852d2ea.c1572","type":"ui_group","z":"","name":"Tipos de pizza","tab":"57cf8e9a.9fdaa","order":5,"disp":true,"width":"8","collapse":false},{"id":"1b677c2.e076084","type":"ui_group","z":"","name":"Indicadores de interés","tab":"57cf8e9a.9fdaa","order":6,"disp":true,"width":"8","collapse":false},{"id":"87ea8bba.149f98","type":"ui_group","z":"","name":"Footer","tab":"57cf8e9a.9fdaa","order":8,"disp":true,"width":"32","collapse":false},{"id":"9cdedd87.30777","type":"mqtt-broker","z":"","name":"broker_mosquito","broker":"172.16.240.10","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"57cf8e9a.9fdaa","type":"ui_tab","z":"","name":"Modelos y Simulación","icon":"dashboard","order":1,"disabled":false,"hidden":false}]